{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="https://cdn.discordapp.com/icons/715958380556058684/773d6583cd1d7aef41e701783d353aef.webp?size=128" type="image/x-icon">
    <meta name="description" itemprop="description" content="Play your playlists and favourites tracks, albums, and artists " />
    <meta name="keywords" content="convert, convert playlists, transfer, syncing, smart links, free, apple music, streaming services" />
	<title>Youttify</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" media="all" type="text/css" href="{% static 'recover.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>

<body>
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Reset password</h3>
            <div class="card-text">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if messages %}
                        <div class="alert alert-primary" role="alert">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}     
                    <div class="form-group">
                        <label for="exampleInputEmail1">Enter your email address and we will send you a link to reset your password.</label>
                        <input type="email" name="email" class="form-control form-control-sm" placeholder="Enter your email address">
                    </div>
    
                    <button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
                </form>
            </div>
        </div>
    </div>
    </body>

</html>