{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html"/>
	<meta name="description" itemprop="description" content="Play your playlists and favourites tracks, albums, and artists" />
    <meta name="keywords" content="convert, convert playlists, transfer, syncing, smart links, free, apple music, streaming services" />
	<link rel="icon" href="https://cdn.discordapp.com/icons/715958380556058684/773d6583cd1d7aef41e701783d353aef.webp?size=128" type="image/x-icon">
	<link rel="stylesheet" type="text/css" media="all" href="{% static 'signup.css' %}" >
	<title>Youttify</title>
</head>
<script>
    function checkPassword(form) {
        const confirm_password = document.getElementById("cpwd");
        var password = document.getElementById("pwd").value;
        console.log(password)
        if (password != confirm_password.value) {
            confirm_password.setCustomValidity("Password did not match");
        } else {
            confirm_password.setCustomValidity("");
        }
    }
</script>

<body>
	<main>
		<section class="form-section">
		  <div class="form-wrapper">
			<h1 class="title">Sign up for free to start listening.</h1>
			<form class="form" action="post.php" method="post" enctype="multipart/form-data">
			{% csrf_token %}
					{% if messages %}
						<div class="alert alert-primary" role="alert">
							{% for message in messages %}
								{{ message }}
							{% endfor %}
						</div>
					{% endif %}
			  <div class="form-row">
				<div class="form-group">
				  <label>
					<span class="sr-only">First Name</span>
					<input type="text" placeholder="First Name" class="form-input" name="first_name" required>
				  </label>
				</div>
				<div class="form-group">
				  <label>
					<span class="sr-only">Last Name</span>
					<input id="last-name" type="text" placeholder="Last Name" class="form-input" name="last_name" required>
				  </label>
				</div>
			  </div>
			  <div class="form-group">
				<label>
				  <span class="sr-only">Username</span>
				  <input type="text" placeholder="Username" class="form-input" name="username" required>
				</label>
			  </div>
			  <div class="form-group">
				<label>
				  <span class="sr-only">Email address</span>
				  <input type="email" placeholder="Email" class="form-input" name="email" required>
				</label>
			  </div>
			  <div class="form-group">
				<label>
				  <span class="sr-only">Password</span>
				  <input id="pwd" type="password" placeholder="Password" class="form-input" name="password" required>
				</label>
			  </div>
			  <div class="form-group">
				<label>
				  <span class="sr-only">Confirm Password</span>
				  <input id="cpwd" type="password" placeholder="Confirm Password" class="form-input" oninput="checkPassword(this)" required>
				</label>
			  </div>
			  <div class="form-group">
				<input type="submit" value="Submit" class="form-submit">
			  </div>
	
			  <footer class="form-footer">
				  <div>
					<a href="#" class="form-link">Forgot password?</a>
				  </div>
				  <div>
					Already have an account?
					<a href="/login/" class="form-link">Log in</a>
				  </div>
			  </footer>
			</form>
		  </div>
		</section>
	  </main>
</body>
</html>